.details {
    display: flex;
    justify-content: space-between;

    &__nav {
        height: 60px;
        background-color: #f4f4f4;

    }

    &__ul {
        margin-top: 25px;
        display: flex;
        justify-content: center;

    }

    &__li {
        font-weight: bold;
        color: #8E8E8E;
        font-size: 14px;
        margin-right: 13px;

        &:hover {
            color: black;
            transition: 0.2s;
        }

    }

    &__li li {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .small {
        &__pictures {
            margin-left: 145px;
        }

        &__picture {
            height: 70px;
            width: 70px;
            margin-right: 15px;
        }

    }

    &__right {
        margin-top: 100px;
        text-align: center;
    }

    &__h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    &__hot {
        color: #e53935;
        font-weight: bold;
        font-size: 18px;
        margin-top: 17px;
    }

    &__price {
        margin-top: 19px;
        font-size: 48px;
        font-weight: 400;
    }

    &__dollar {
        font-size: 30px;
    }

    &__button {
        width: 500px;
        height: 70px;
        background-color: #f44336;
        border-radius: 40px;
        color: white;
        font-size: 22px;
        margin-top: 30px;
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        padding-left: 50px;
        text-align: left;
        line-height: 29px;
        margin-top: 40px;
    }
}